.App {
  align-content: center;
  display: flex;
  flex-direction: column;
}

html body {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("./resources/westeros.png");
  position: absolute;
  min-height: 100%;
  z-index: -1;
  background-repeat: repeat-y;
  background-size: 100%;
}

.main-header {
  margin-left: 5%;
  margin-right: 5%;
  --min-font-size: 40px;
  --min-viewport-width: 375px;
  font-size: calc(
    var(--min-font-size) + 80 * ((100vw - var(--min-viewport-width)) / 1065)
  );
  text-align: center;
}

.main-page {
  margin-left: 15%;
  margin-right: 15%;
}

.main-header::after {
  content: url("./resources/iron-throne.png");
  position: absolute;
  margin-top: 70px;
  opacity: 0.2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.death-overlay {
  opacity: 0.85;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.name-form {
  margin-left: 20%;
  margin-right: 20%;
}

.form-control {
  margin-top: 80px;
  text-align: center;
}

.submit-btn {
  width: 100%;
  border: 0 none;
  background-color: black;
}

.submitted {
  font-size: 120px;
  text-align: center;
  align-content: center;
}

.pick-again-btn {
  width: 200px;
  height: 75px;
}
