.App {
  align-content: center;
}

.main-page {
  margin-left: 25%;
  margin-right: 25%;
}

.main-header {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 100px;
  text-align: center;
}

.main-header::after {
  content: url("https://i.pinimg.com/originals/9e/5c/eb/9e5ceb24a3da8028ad558eccf0a92cea.png");
  position: absolute;
  margin-top: 70px;
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
}

.death-overlay {
  opacity: 0.85;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.image-grid {
  position: relative;
}

.btn-primary {
  border: 0 none;
  background-color: black;
}

.submit-btn {
  width: 100%;
}

.pick-again-btn {
  width: 200px;
  height: 75px;
}

.submitted {
  font-size: 120px;
  text-align: center;
  align-content: center;
}

.form-control {
  margin-top: 80px;
  text-align: center;
}

.name-form {
  margin-left: 20%;
  margin-right: 20%;
}
